---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=35.9237&lon=-86.8678&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.9237,"lon":-86.8678,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664168545,"sunrise":1664192308,"sunset":1664235543,"temp":60.49,"feels_like":59.92,"pressure":1016,"humidity":78,"dew_point":53.62,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.87,"wind_deg":357,"wind_gust":7.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1664168400,"temp":60.49,"feels_like":59.92,"pressure":1016,"humidity":78,"dew_point":53.62,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.87,"wind_deg":357,"wind_gust":7.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664172000,"temp":60.33,"feels_like":59.5,"pressure":1016,"humidity":73,"dew_point":51.66,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.44,"wind_deg":357,"wind_gust":2.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664175600,"temp":59.79,"feels_like":58.77,"pressure":1015,"humidity":70,"dew_point":50,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.66,"wind_deg":330,"wind_gust":2.13,"weather":[{"id":800,"main":"Clear","[...]
