---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=Nashville,%20TN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.035 TT 0 0.037"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 121,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL9488883W",
                    "type": "work",
                    "seed": [
                        "/books/OL10819513M",
                        "/works/OL9488883W",
                        "/subjects/nashville_(tenn.)",
                        "/subjects/tennessee_description_and_travel",
                        "/authors/OL3503262A"
                    ],
                    "title": "Nashville (Nashville, TN)",
                    "title_suggest": "Nashville (Nashville, TN)",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10819513M"
                    ],
                    "publish_date": [
                        "June 1997"
                    ],
                    "publish_year": [
                        1997
                    ],
                    "first_publish_year": 1997,
                    "isbn": [
                        "0752405721",
                        "9780752405728"
                    ],
                    "last_modified_i": 1653530828,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Arcadia Publishing (SC)"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3503262A"
                    ],
                    "author_name": [
                        "Historic Nashville"
                    ],
                    "subject": [
                        "Nashville (tenn.)",
                        "Tennessee, description and travel"
                    ],
                    "publisher_facet": [
                        "Arcadia Publishing (SC)"
                    ],
                    "subject_facet": [
                        "Nashville (tenn.)",
                        "Tennessee, description and travel"
                    ],
                    "_version_": 1735678309646204928,
                    "author_facet": [
                        "OL3503262A Historic Nashville"
                    ],
                    "subject_key": [
                        "nashville_(tenn.)",
                        "tennessee_description_and_travel"
                    ]
                },
                {
                    "key": "/works/OL8503372W",
                    "type": "work",
                    "seed": [
                        "/books/OL10910632M",
                        "/works/OL8503372W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Nashville TN",
                    "title_suggest": "Nashville TN",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10910632M"
                    ],
                    "publish_date": [
                        "January 2004"
                    ],
                    "publish_year": [
                        2004
                    ],
                    "first_publish_year": 2004,
                    "number_of_pages_median": 1,
                    "oclc": [
                        "55617153"
                    ],
                    "isbn": [
                        "9780762535460",
                        "0762535466"
                    ],
                    "last_modified_i": 1303869568,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Universalmap"
        [...]
