---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<map_quest_key>&location=3002%20Halenwool%20Cir%20Franklin,%20TN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 02:30:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"3002
        Halenwool Cir Franklin, TN"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Franklin","adminArea5Type":"City","adminArea4":"Williamson
        County","adminArea4Type":"County","adminArea3":"TN","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282022240","unknownInput":"","type":"s","latLng":{"lat":35.923652,"lng":-86.867827},"displayLatLng":{"lat":35.923652,"lng":-86.867827},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_quest_key>&type=map&size=225,160&locations=35.923652,-86.867827|marker-sm-50318A-1&scalebar=true&zoom=12&rand=901255926"},{"street":"3002
        Havenwood Cir","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Lake","adminArea5Type":"City","adminArea4":"Clare","adminArea4Type":"County","adminArea3":"MI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"48632-8977","geocodeQualityCode":"L1BCX","ge[...]
